#Importando as bibliotecas e Dados

In [ ]:
import pandas as pd
import numpy as np
import csv
import os
from google.colab import drive
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

drive.mount('/content/drive')
os.chdir("drive/MyDrive/Colab Notebooks/A3 - Inteligência Artificial/")

Mounted at /content/drive

##Visualização do Dataframe

In [ ]:
df = pd.read_csv('heart.csv')
df

,idade,sexo,dor,part,chol,asj,restecg,fcarmax,aie,picoant,curva,nvm,fcar,resultado
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

##Verificação de entradas nulas

In [ ]:
df.isnull().sum()

idade        0
sexo         0
dor          0
part         0
chol         0
asj          0
restecg      0
fcarmax      0
aie          0
picoant      0
curva        0
nvm          0
fcar         0
resultado    0
dtype: int64

##Visualizando a correlação dos dados

In [ ]:
correlacao = df.corr()
correlacao['resultado'].sort_values(ascending=False)

resultado    1.000000
dor          0.433798
fcarmax      0.421741
curva        0.345877
restecg      0.137230
asj         -0.028046
chol        -0.085239
part        -0.144931
idade       -0.225439
sexo        -0.280937
fcar        -0.344029
nvm         -0.391724
picoant     -0.430696
aie         -0.436757
Name: resultado, dtype: float64

##Divisão dos Dados e Treino do Modelo

In [ ]:
y = df['resultado']
x = df["dor"]
x = x.values.reshape(-1,1)

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20, random_state=100)

##Gerando melhor seed para o algoritmo

In [ ]:
precisao = 0

for seed in range(100):
    dt = DecisionTreeClassifier(random_state=seed)
    dt.fit(x_train,y_train)
    y_previsao = dt.predict(x_test)
    precisao_atual = round(accuracy_score(y_previsao,y_test)*100,2)
    
    if(precisao_atual > precisao):
        precisao = precisao_atual
        melhor_valor = seed
        
print("Melhor seed gerada:",melhor_valor)

Melhor seed gerada: 2

##Aplicando o modelo da Árvore de Decisão

In [ ]:
dt=DecisionTreeClassifier(criterion='entropy', random_state=melhor_valor)
dt.fit(x_train, y_train)
y_previsao = dt.predict(x_test)

#Pontuação final do modelo

In [ ]:
pontuacao = round(accuracy_score(y_previsao,y_test)*100,2)

print("A precisão do modelo gerado é de " +str(pontuacao)+ "%")

A precisão do modelo gerado é de 83.61%

##Teste do modelo

In [ ]:
dadosTeste = ['54','1','3','155','240','1','1','160','0','2','2','0','1']

teste = {}
cont = 0

for dado in dadosTeste:
  teste[df.columns[cont]] = dado
  # DESCOMENTAR PARA INSERIR MANUALMENTE
  #teste[df.columns[cont]] = input("Digite um valor para "+str(df.columns[cont])+": ")
  cont += 1

paciente = pd.DataFrame(teste, index=[0])
resultadosDoenca = dt.predict(paciente)

if resultadosDoenca == 1:
  print("O paciente possui risco ALTO de contrair doenças cardíacas.")
else:
  print("O paciente possui risco BAIXO de contrair doenças cardíacas.")